@media (max-width:992px){
	.main-menu-container{
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 0;
		border: 1px solid red;
	}
.st20{
	fill: #ffffff;;
}
	.main-container{
		margin-top: none;
	}
}
.menu-btn{
	display:none;
}
.navbar{
	position: fixed;
	top:0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: #fff;
	box-shadow: 0px 5px 20px rgba(61, 60, 59, 0.1);
	z-index: 10;
}
.main-navigation{
	position: fixed;
	top:0;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.main-navigation-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.navbar-brand{
	margin-left: 20px;
}
.navbar-links{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	
}
.nav-link{
	list-style-type: none;
}
.nav-a{
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 2px;
	color:#595959; 
}

.navbar-brand{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f79725 4%);
  background-position: -250px 0;
  background-size: 250px 100%;
  background-repeat: no-repeat;
	transition: 1s;
	animation: 1s;
}
.navbar-brand:hover{
  background-position: 0 0;
}
.nav-a:hover{
	color:#f79725;
}
	.about-section{
		margin-top: 60px;
		margin-bottom: 60px;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}
	.about-section-img{
		order: 2;
		margin-top: 30px;
	}
	.about-section-text{
		order:1;
	}
	.about-section-text{
		width:80%;
	}
	.about-section-img{
		width:95%;
	}

	.menu-btn{
		display:flex;
	visibility: visible;
	cursor: pointer;
	}
	.main-navigation-container{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: absolute;
		left:0;
		top:0;
		height: 100vh;
		margin-top: 80px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		border-radius: 0px 0px 10px 10px;
		background-color: #fff;
		box-shadow: 0px 5px 20px rgba(61, 60, 59, 0.1);
		transition: 0.3s;
		transform: translateX(-100%);
	}
	.main-navigation-container_active{
		transition: 0.7s ease;
		transform: translateX(0%);
	;}
	.navbar-links{
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		align-content: center;
		justify-content: center;
		justify-items: center;
		padding: 0;
		
	}
	.main-navigation{
		justify-content: flex-end;
	}
	.nav-link{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		list-style-type: none;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.navbar-brand{
		margin-right: 10px;
	}
	.main-menu-btn{
		margin-top: 50px;
		height: 40px;
		width: auto;
		background-color:#f79725;
	padding: 3px 12px 3px 12px;
	font-size: 1.1rem;
	border-radius: 50px;
	border: 0;
	outline: none;
	border: 1px solid #f79725;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color:white;
	transition: all 3s, 0.7s ease-in-out;
	}
